@switch (Number)
{
    case < 18.6:
    {
        <h4>Abaixo ⚠️</h4>
        break;
    }
    case >= 18.6 and <= 24.9:
    {
        <h4>Ideal ✅</h4>
        break;
    }
    case >= 24.9:
    {
        <h4>Sobrepeso 🔴</h4>
        break;
    }
}

@code {
    [Parameter] [EditorRequired] public double Number { get; set; }
}
